* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#board {
    width: var(--board-size);
    height: var(--board-size);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    /* color: #fff; */
}

#board div {
    width: var(--sqr-size);
    height: var(--sqr-size);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.box {
    background-color: #333;
}

